@model IEnumerable<GEMA.Models.Comentarios>

<div class="form-horizontal">
    <hr />
    <h3>Comentários</h3>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            @Html.TextArea("Comentario", new { rows = 5, @class = "form-control" })           
            @Html.ValidationMessage("Comentario", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Enviar comentário" class="btn btn-default" />
        </div>
    </div>
</div>

<table class="table table-striped">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h4 class="glyphicon glyphicon-user text-primary"><span class="text-primary"> @Html.DisplayFor(modelItem => item.Pessoas.Nome)</span></h4>
                <p>@Html.DisplayFor(modelItem => item.DataComentario)</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
        </tr>
    }

</table>
