@model GEMA.Models.Pessoas

@{
    ViewBag.Title = "Detalhes";
}

<h2>detalhes</h2>

<div>
    <h4>Pessoas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Papeis.Papel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Papeis.Papel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar para lista", "Index")
</p>
